@import "variables";

h1 {
  color: $red;

  span {
    color: blue;
  }
  //sr ampersand means that is the parent tag in this case is h1:hover
  // if you put h1:hover this will be translated to h1:h1:hover
  &:hover {

  }
}



h1:hover {
  color: darken($red, 25%);// this a function from sass
}
